# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

CMakeLists.txt.user
CMakeLists_modified.txt

Examples/RGB-D/rgbd_tum
Examples/RGB-D/rgbd_realsense_D435i

Examples/RGB-D-Inertial/rgbd_inertial_realsense_D435i

Examples/Monocular/mono_realsense_D435i
Examples/Monocular/mono_euroc
Examples/Monocular/mono_kitti
Examples/Monocular/mono_tum
Examples/Monocular/mono_tum_vi
Examples/Monocular/mono_realsense_t265

Examples/Stereo/stereo_euroc
Examples/Stereo/stereo_kitti
Examples/Stereo/stereo_tum_vi
Examples/Stereo/stereo_realsense_t265
Examples/Stereo/stereo_realsense_D435i

Examples/Monocular-Inertial/mono_inertial_euroc
Examples/Monocular-Inertial/mono_inertial_tum_vi
Examples/Monocular-Inertial/mono_inertial_realsense_t265
Examples/Monocular-Inertial/mono_inertial_realsense_D435i
Examples/Monocular-Inertial/mono_inertial_realsense_D435i_2

Examples/Stereo-Inertial/stereo_inertial_euroc
Examples/Stereo-Inertial/stereo_inertial_tum_vi
Examples/Stereo-Inertial/stereo_inertial_realsense_t265
Examples/Stereo-Inertial/stereo_inertial_realsense_D435i


Examples/ROS/ORB_SLAM3/Mono
Examples/ROS/ORB_SLAM3/Mono_Inertial
Examples/ROS/ORB_SLAM3/MonoAR
Examples/ROS/ORB_SLAM3/RGBD
Examples/ROS/ORB_SLAM3/Stereo
Examples/ROS/ORB_SLAM3/Stereo_Inertial

Examples/Calibration/recorder_realsense_D435i

Examples/Tests/viewer_dataset
Examples/Tests/sophus_test

Examples/ROS/ORB_SLAM3/CMakeLists.txt.user
Examples/ROS/ORB_SLAM3/build/

KeyFrameTrajectory.txt
CameraTrajectory.txt
kf_*.txt
f_*.txt
Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/config.h
Thirdparty/g2o/lib/
Vocabulary/ORBvoc.txt
build/

lib/

cmake_modules/
cmake-build-debug/

ExecMean.txt
SessionInfo.txt
Results_Euroc.txt
LBA_Stats.txt
LocalMapTimeStats.txt
TrackLocalMapStats.txt
TrackingTimeStats.txt
time*
Time*
Table_Euroc
Table_TUMVI_rooms/
*.pyc
*.osa
.idea/
my_settings.txt

borrar/*

*/ExecMean.txt

build_msvc/*

Examples/Monocular/Release/boost_serialization-vc143-mt-x64-1_90.dll
Examples/Monocular/Release/glew32.dll
Examples/Monocular/Release/jpeg62.dll
Examples/Monocular/Release/libcrypto-3-x64.dll
Examples/Monocular/Release/liblzma.dll
Examples/Monocular/Release/libpng16.dll
Examples/Monocular/Release/libsharpyuv.dll
Examples/Monocular/Release/libwebp.dll
Examples/Monocular/Release/libwebpdecoder.dll
Examples/Monocular/Release/libwebpdemux.dll
Examples/Monocular/Release/libwebpmux.dll
Examples/Monocular/Release/mono_aqualoc.exe
Examples/Monocular/Release/mono_euroc.exe
Examples/Monocular/Release/mono_kitti.exe
Examples/Monocular/Release/mono_mimir.exe
Examples/Monocular/Release/mono_subpipe.exe
Examples/Monocular/Release/mono_tum_vi.exe
Examples/Monocular/Release/mono_tum.exe
Examples/Monocular/Release/opencv_calib3d4.dll
Examples/Monocular/Release/opencv_core4.dll
Examples/Monocular/Release/opencv_features2d4.dll
Examples/Monocular/Release/opencv_flann4.dll
Examples/Monocular/Release/opencv_highgui4.dll
Examples/Monocular/Release/opencv_imgcodecs4.dll
Examples/Monocular/Release/opencv_imgproc4.dll
Examples/Monocular/Release/opencv_videoio4.dll
Examples/Monocular/Release/tiff.dll
Examples/Monocular/Release/z.dll
Examples/Monocular-Inertial/Release/boost_serialization-vc143-mt-x64-1_90.dll
Examples/Monocular-Inertial/Release/glew32.dll
Examples/Monocular-Inertial/Release/jpeg62.dll
Examples/Monocular-Inertial/Release/libcrypto-3-x64.dll
Examples/Monocular-Inertial/Release/liblzma.dll
Examples/Monocular-Inertial/Release/libpng16.dll
Examples/Monocular-Inertial/Release/libsharpyuv.dll
Examples/Monocular-Inertial/Release/libwebp.dll
Examples/Monocular-Inertial/Release/libwebpdecoder.dll
Examples/Monocular-Inertial/Release/libwebpdemux.dll
Examples/Monocular-Inertial/Release/libwebpmux.dll
Examples/Monocular-Inertial/Release/mono_inertial_euroc.exe
Examples/Monocular-Inertial/Release/mono_inertial_mimir.exe
Examples/Monocular-Inertial/Release/mono_inertial_subpipe.exe
Examples/Monocular-Inertial/Release/mono_inertial_tum_vi.exe
Examples/Monocular-Inertial/Release/opencv_calib3d4.dll
Examples/Monocular-Inertial/Release/opencv_core4.dll
Examples/Monocular-Inertial/Release/opencv_features2d4.dll
Examples/Monocular-Inertial/Release/opencv_flann4.dll
Examples/Monocular-Inertial/Release/opencv_highgui4.dll
Examples/Monocular-Inertial/Release/opencv_imgcodecs4.dll
Examples/Monocular-Inertial/Release/opencv_imgproc4.dll
Examples/Monocular-Inertial/Release/opencv_videoio4.dll
Examples/Monocular-Inertial/Release/tiff.dll
Examples/Monocular-Inertial/Release/z.dll
Examples/RGB-D/Release/boost_serialization-vc143-mt-x64-1_90.dll
Examples/RGB-D/Release/glew32.dll
Examples/RGB-D/Release/jpeg62.dll
Examples/RGB-D/Release/libcrypto-3-x64.dll
Examples/RGB-D/Release/liblzma.dll
Examples/RGB-D/Release/libpng16.dll
Examples/RGB-D/Release/libsharpyuv.dll
Examples/RGB-D/Release/libwebp.dll
Examples/RGB-D/Release/libwebpdecoder.dll
Examples/RGB-D/Release/libwebpdemux.dll
Examples/RGB-D/Release/libwebpmux.dll
Examples/RGB-D/Release/opencv_calib3d4.dll
Examples/RGB-D/Release/opencv_core4.dll
Examples/RGB-D/Release/opencv_features2d4.dll
Examples/RGB-D/Release/opencv_flann4.dll
Examples/RGB-D/Release/opencv_highgui4.dll
Examples/RGB-D/Release/opencv_imgcodecs4.dll
Examples/RGB-D/Release/opencv_imgproc4.dll
Examples/RGB-D/Release/opencv_videoio4.dll
Examples/RGB-D/Release/rgbd_tum.exe
Examples/RGB-D/Release/tiff.dll
Examples/RGB-D/Release/z.dll
Examples/Stereo/Release/boost_serialization-vc143-mt-x64-1_90.dll
Examples/Stereo/Release/glew32.dll
Examples/Stereo/Release/jpeg62.dll
Examples/Stereo/Release/libcrypto-3-x64.dll
Examples/Stereo/Release/liblzma.dll
Examples/Stereo/Release/libpng16.dll
Examples/Stereo/Release/libsharpyuv.dll
Examples/Stereo/Release/libwebp.dll
Examples/Stereo/Release/libwebpdecoder.dll
Examples/Stereo/Release/libwebpdemux.dll
Examples/Stereo/Release/libwebpmux.dll
Examples/Stereo/Release/opencv_calib3d4.dll
Examples/Stereo/Release/opencv_core4.dll
Examples/Stereo/Release/opencv_features2d4.dll
Examples/Stereo/Release/opencv_flann4.dll
Examples/Stereo/Release/opencv_highgui4.dll
Examples/Stereo/Release/opencv_imgcodecs4.dll
Examples/Stereo/Release/opencv_imgproc4.dll
Examples/Stereo/Release/opencv_videoio4.dll
Examples/Stereo/Release/stereo_euroc.exe
Examples/Stereo/Release/stereo_kitti.exe
Examples/Stereo/Release/stereo_tum_vi.exe
Examples/Stereo/Release/tiff.dll
Examples/Stereo/Release/z.dll
Examples/Stereo-Inertial/Release/boost_serialization-vc143-mt-x64-1_90.dll
Examples/Stereo-Inertial/Release/glew32.dll
Examples/Stereo-Inertial/Release/jpeg62.dll
Examples/Stereo-Inertial/Release/libcrypto-3-x64.dll
Examples/Stereo-Inertial/Release/liblzma.dll
Examples/Stereo-Inertial/Release/libpng16.dll
Examples/Stereo-Inertial/Release/libsharpyuv.dll
Examples/Stereo-Inertial/Release/libwebp.dll
Examples/Stereo-Inertial/Release/libwebpdecoder.dll
Examples/Stereo-Inertial/Release/libwebpdemux.dll
Examples/Stereo-Inertial/Release/libwebpmux.dll
Examples/Stereo-Inertial/Release/opencv_calib3d4.dll
Examples/Stereo-Inertial/Release/opencv_core4.dll
Examples/Stereo-Inertial/Release/opencv_features2d4.dll
Examples/Stereo-Inertial/Release/opencv_flann4.dll
Examples/Stereo-Inertial/Release/opencv_highgui4.dll
Examples/Stereo-Inertial/Release/opencv_imgcodecs4.dll
Examples/Stereo-Inertial/Release/opencv_imgproc4.dll
Examples/Stereo-Inertial/Release/opencv_videoio4.dll
Examples/Stereo-Inertial/Release/stereo_inertial_euroc.exe
Examples/Stereo-Inertial/Release/stereo_inertial_tum_vi.exe
Examples/Stereo-Inertial/Release/stereo_mimir.exe
Examples/Stereo-Inertial/Release/tiff.dll
Examples/Stereo-Inertial/Release/z.dll
Examples_old/Monocular/Release/boost_serialization-vc143-mt-x64-1_90.dll
Examples_old/Monocular/Release/glew32.dll
Examples_old/Monocular/Release/jpeg62.dll
Examples_old/Monocular/Release/libcrypto-3-x64.dll
Examples_old/Monocular/Release/liblzma.dll
Examples_old/Monocular/Release/libpng16.dll
Examples_old/Monocular/Release/libsharpyuv.dll
Examples_old/Monocular/Release/libwebp.dll
Examples_old/Monocular/Release/libwebpdecoder.dll
Examples_old/Monocular/Release/libwebpdemux.dll
Examples_old/Monocular/Release/libwebpmux.dll
Examples_old/Monocular/Release/mono_euroc_old.exe
Examples_old/Monocular/Release/mono_kitti_old.exe
Examples_old/Monocular/Release/mono_tum_old.exe
Examples_old/Monocular/Release/mono_tum_vi_old.exe
Examples_old/Monocular/Release/opencv_calib3d4.dll
Examples_old/Monocular/Release/opencv_core4.dll
Examples_old/Monocular/Release/opencv_features2d4.dll
Examples_old/Monocular/Release/opencv_flann4.dll
Examples_old/Monocular/Release/opencv_highgui4.dll
Examples_old/Monocular/Release/opencv_imgcodecs4.dll
Examples_old/Monocular/Release/opencv_imgproc4.dll
Examples_old/Monocular/Release/opencv_videoio4.dll
Examples_old/Monocular/Release/tiff.dll
Examples_old/Monocular/Release/z.dll
Examples_old/Monocular-Inertial/Release/boost_serialization-vc143-mt-x64-1_90.dll
Examples_old/Monocular-Inertial/Release/glew32.dll
Examples_old/Monocular-Inertial/Release/jpeg62.dll
Examples_old/Monocular-Inertial/Release/libcrypto-3-x64.dll
Examples_old/Monocular-Inertial/Release/liblzma.dll
Examples_old/Monocular-Inertial/Release/libpng16.dll
Examples_old/Monocular-Inertial/Release/libsharpyuv.dll
Examples_old/Monocular-Inertial/Release/libwebp.dll
Examples_old/Monocular-Inertial/Release/libwebpdecoder.dll
Examples_old/Monocular-Inertial/Release/libwebpdemux.dll
Examples_old/Monocular-Inertial/Release/libwebpmux.dll
Examples_old/Monocular-Inertial/Release/mono_inertial_euroc_old.exe
Examples_old/Monocular-Inertial/Release/mono_inertial_tum_vi_old.exe
Examples_old/Monocular-Inertial/Release/opencv_calib3d4.dll
Examples_old/Monocular-Inertial/Release/opencv_core4.dll
Examples_old/Monocular-Inertial/Release/opencv_features2d4.dll
Examples_old/Monocular-Inertial/Release/opencv_flann4.dll
Examples_old/Monocular-Inertial/Release/opencv_highgui4.dll
Examples_old/Monocular-Inertial/Release/opencv_imgcodecs4.dll
Examples_old/Monocular-Inertial/Release/opencv_imgproc4.dll
Examples_old/Monocular-Inertial/Release/opencv_videoio4.dll
Examples_old/Monocular-Inertial/Release/tiff.dll
Examples_old/Monocular-Inertial/Release/z.dll
Examples_old/RGB-D/Release/boost_serialization-vc143-mt-x64-1_90.dll
Examples_old/RGB-D/Release/glew32.dll
Examples_old/RGB-D/Release/jpeg62.dll
Examples_old/RGB-D/Release/libcrypto-3-x64.dll
Examples_old/RGB-D/Release/liblzma.dll
Examples_old/RGB-D/Release/libpng16.dll
Examples_old/RGB-D/Release/libsharpyuv.dll
Examples_old/RGB-D/Release/libwebp.dll
Examples_old/RGB-D/Release/libwebpdecoder.dll
Examples_old/RGB-D/Release/libwebpdemux.dll
Examples_old/RGB-D/Release/libwebpmux.dll
Examples_old/RGB-D/Release/opencv_calib3d4.dll
Examples_old/RGB-D/Release/opencv_core4.dll
Examples_old/RGB-D/Release/opencv_features2d4.dll
Examples_old/RGB-D/Release/opencv_flann4.dll
Examples_old/RGB-D/Release/opencv_highgui4.dll
Examples_old/RGB-D/Release/opencv_imgcodecs4.dll
Examples_old/RGB-D/Release/opencv_imgproc4.dll
Examples_old/RGB-D/Release/opencv_videoio4.dll
Examples_old/RGB-D/Release/rgbd_tum_old.exe
Examples_old/RGB-D/Release/tiff.dll
Examples_old/RGB-D/Release/z.dll
Examples_old/Stereo/Release/boost_serialization-vc143-mt-x64-1_90.dll
Examples_old/Stereo/Release/glew32.dll
Examples_old/Stereo/Release/jpeg62.dll
Examples_old/Stereo/Release/libcrypto-3-x64.dll
Examples_old/Stereo/Release/liblzma.dll
Examples_old/Stereo/Release/libpng16.dll
Examples_old/Stereo/Release/libsharpyuv.dll
Examples_old/Stereo/Release/libwebp.dll
Examples_old/Stereo/Release/libwebpdecoder.dll
Examples_old/Stereo/Release/libwebpdemux.dll
Examples_old/Stereo/Release/libwebpmux.dll
Examples_old/Stereo/Release/opencv_calib3d4.dll
Examples_old/Stereo/Release/opencv_core4.dll
Examples_old/Stereo/Release/opencv_features2d4.dll
Examples_old/Stereo/Release/opencv_flann4.dll
Examples_old/Stereo/Release/opencv_highgui4.dll
Examples_old/Stereo/Release/opencv_imgcodecs4.dll
Examples_old/Stereo/Release/opencv_imgproc4.dll
Examples_old/Stereo/Release/opencv_videoio4.dll
Examples_old/Stereo/Release/stereo_euroc_old.exe
Examples_old/Stereo/Release/stereo_kitti_old.exe
Examples_old/Stereo/Release/stereo_tum_vi_old.exe
Examples_old/Stereo/Release/tiff.dll
Examples_old/Stereo/Release/z.dll
Examples_old/Stereo-Inertial/Release/boost_serialization-vc143-mt-x64-1_90.dll
Examples_old/Stereo-Inertial/Release/glew32.dll
Examples_old/Stereo-Inertial/Release/jpeg62.dll
Examples_old/Stereo-Inertial/Release/libcrypto-3-x64.dll
Examples_old/Stereo-Inertial/Release/liblzma.dll
Examples_old/Stereo-Inertial/Release/libpng16.dll
Examples_old/Stereo-Inertial/Release/libsharpyuv.dll
Examples_old/Stereo-Inertial/Release/libwebp.dll
Examples_old/Stereo-Inertial/Release/libwebpdecoder.dll
Examples_old/Stereo-Inertial/Release/libwebpdemux.dll
Examples_old/Stereo-Inertial/Release/libwebpmux.dll
Examples_old/Stereo-Inertial/Release/opencv_calib3d4.dll
Examples_old/Stereo-Inertial/Release/opencv_core4.dll
Examples_old/Stereo-Inertial/Release/opencv_features2d4.dll
Examples_old/Stereo-Inertial/Release/opencv_flann4.dll
Examples_old/Stereo-Inertial/Release/opencv_highgui4.dll
Examples_old/Stereo-Inertial/Release/opencv_imgcodecs4.dll
Examples_old/Stereo-Inertial/Release/opencv_imgproc4.dll
Examples_old/Stereo-Inertial/Release/opencv_videoio4.dll
Examples_old/Stereo-Inertial/Release/stereo_inertial_euroc_old.exe
Examples_old/Stereo-Inertial/Release/stereo_inertial_tum_vi_old.exe
Examples_old/Stereo-Inertial/Release/tiff.dll
Examples_old/Stereo-Inertial/Release/z.dll
